#header{
    background-color: green;
  }

#footer {
   background-color: green;
}

body {
    background-color: lightgreen;
}

#container {
    background-color: beige;
    width: 800px;
    margin: auto;
}

#content {
    background-color: cornsilk;   
}